---
title: VMware RabbitMQ for Tanzu Application Service Release Notes
owner: London Services
---

This topic describes the changes in this minor release of <%= vars.product_full %>.

<p class="note">
  <span class="note__title">Note</span> VMware Tanzu RabbitMQ for VMs is now named VMware RabbitMQ for Tanzu Application Service.
</p>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-3-0"></a> v2.3.0

**Release Date**: December 18, 2023

### Features

New features and changes in this release:

- It is now possible to create an arbitrary number of plans using the plan collection.

### Known issues

This release has the following issues:

- Service Gateway attempts to use HTTP to connect to the Routing HTTPS endpoint.
<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Resolved issues

This release fixes the following issues:

- Brokers connect to Nats using TLS.
- Service Gateway connects to Routing using TLS.

### Compatibility

The following components are compatible with this release:

<table class="nice"> <th>Component</th> <th>Version</th>
 	<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>3.0.x, 4.0.x, 5.0.x</td>
  </tr>
  <tr>
    <td>Erlang</td>
    <td>26.1.2, 25.3.2.7</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>2.6.15</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ*</td>
    <td>3.12.10, 3.11.26</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>1.x</td>
  </tr>
  <tr>
    <td>bpm</td>
    <td>1.2.11</td>
  </tr>
  <tr>
    <td>cf-cli</td>
    <td>1.53.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
    <td>569.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-multitenant-broker</td>
    <td>175.0.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq-smoke-tests</td>
    <td>202.0.0</td>
  </tr>
  <tr>
    <td>cf-service-gateway</td>
    <td>133.0.0</td>
  </tr>
  <tr>
    <td>count-cores-indicator</td>
    <td>2.0.0</td>
  </tr>
  <tr>
    <td>loggregator-agent</td>
    <td>7.7.2</td>
  </tr>
  <tr>
    <td>on-demand-service-broker</td>
    <td>0.45.1</td>
  </tr>
  <tr>
    <td>rabbitmq-metrics</td>
    <td>133.0.0</td>
  </tr>
  <tr>
    <td>rabbitmq-on-demand-adapter</td>
    <td>286.0.0</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.284.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
    <td>2.0.33</td>
  </tr>
</table>'

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.12.10">v3.12.10</a> and <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.11.26">v3.11.26</a> GitHub documentation.

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from the drop-down menu at
the top of this page.
