---
title: VMware RabbitMQ for Tanzu Application Service Release Notes
owner: London Services
---

<p class="note">
  <strong>Note:</strong> VMware Tanzu RabbitMQ for VMs is now named VMware RabbitMQ for Tanzu Application Service.
</p>

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="2-2-0"></a> v2.2.0

**Release Date**: January 18, 2023

### Features

New features and changes in this release:

- Jammy Stemcell and compatibility with Tanzu Application Service v3.0.

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + "/rabbitmq/erlang-ki" %>

### Resolved Issues

This release fixes the following issues:

- [CVE-2022-41720](https://nvd.nist.gov/vuln/detail/CVE-2022-41720). The golang issue is [56694](https://go.dev/issue/56694). It is fixed in Go v1.19.4.
- [CVE-2022-41717](https://nvd.nist.gov/vuln/detail/CVE-2022-41717). The golang issue is [56350](https://go.dev/issue/56350). It is fixed in Go v1.19.4.
- [RMQFPAS-82](https://pivotal-io.atlassian.net/browse/RMQFPAS-82). The fix is in [loggregator-agent-release v6.5.6](https://github.com/cloudfoundry/loggregator-agent-release/releases/tag/v6.5.6).

### Compatibility

The following components are compatible with this release:

<table class="nice">
  <th>Component</th>
  <th>Version</th>
  <tr>
		<td><%= vars.app_runtime_full %></td>
		<td>2.11.x, 2.12.x, 2.13.x, 3.0.x</td>
	</tr>
  <tr>
    <td>Erlang</td>
    <td>24.3.4.7, 25.2</td>
  </tr>
  <tr>
    <td>HAProxy</td>
    <td>2.6.7</td>
  </tr>
  <tr>
    <td>OSS RabbitMQ<sup>*</sup></td>
    <td>3.9.27, 3.10.13</td>
  </tr>
  <tr>
    <td>Stemcell</td>
    <td>621.x</td>
  </tr>
	<tr>
		<td>bpm</td>
		<td>1.1.21</td>
	</tr>
  <tr>
    <td>cf-cli</td>
		<td>1.41.0</td>
  </tr>
  <tr>
    <td>cf-rabbitmq</td>
		<td>478.0.0</td>
  </tr>
	<tr>
		<td>cf-rabbitmq-multitenant-broker</td>
		<td>128.0.0</td>
	</tr>
	<tr>
		<td>cf-service-gateway</td>
		<td>91.0.0</td>
	</tr>
	<tr>
		<td>cf-rabbitmq-smoke-tests</td>
		<td>154.0.0</td>
	</tr>
	<tr>
		<td>loggregator-agent</td>
		<td>7.0.1</td>
	</tr>
  <tr>
    <td>on-demand-service-broker</td>
		<td>0.42.6</td>
  </tr>
	<tr>
		<td>rabbitmq-metrics</td>
		<td>96.0.0</td>
	</tr>
	<tr>
		<td>rabbitmq-on-demand-adapter</td>
		<td>227.0.0</td>
	</tr>
  <tr>
    <td>routing</td>
		<td>0.254.0</td>
  </tr>
  <tr>
    <td>service-metrics</td>
		<td>2.0.24</td>
  </tr>
</table>

<sup>*</sup> For more information, see the <a href="https://github.com/rabbitmq/rabbitmq-server/releases/tag/v3.10.13">v3.10.13</a> GitHub documentation.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the
top of this page.
